python-dotenv==1.1.0
pandas==2.2.3
openai==1.69.0
numpy==2.2.4
PyPDF2==3.0.1
matplotlib==3.10.1
semantic-kernel==1.25.0
ipywidgets==8.1.5
ipykernel==6.29.5
azure-ai-evaluation==1.3.0
azure-ai-projects==1.0.0b7
azure-identity==1.21.0
azure-search-documents==11.5.2
autogen-agentchat==0.4.9.2
autogen-ext[openai,azure]==0.4.9.2
